 .item {
    display: grid;
    grid-template-columns: 1fr 60px 80px;
    background: #fff;
}

.googdsName {
    font-size: 0.8em;
    font-weight: 500;
}

.projectDuration {
    font-size: 0.6em;
    color: #808080;
}

.googdsPrice {
    font-size: 0.8em;
    color: #FDBB66
}
