@inherits LayoutComponentBase

<div class="page">
    
    <div class="body">
       @*  <div class="top-row px-4">
            <ons-tabbar swipeable id="appTabbar" position="auto">
                <ons-tab label="Home" icon="ion-ios-home"  active></ons-tab>
                <ons-tab label="Forms" icon="ion-ios-create" ></ons-tab>
                <ons-tab label="Animations" icon="ion-ios-film" ></ons-tab>
            </ons-tabbar>
        </div> *@

        <article >
            @Body
        </article>
    </div>
    <div class="imenu">
        <NavMenu />
    </div>
</div>
