.content {
    display: flex;
    height: 100vh;
}

.body {
    flex: 1;
    padding-top: 52px;
    background: var(--defbac)
}

.mainbody {
    display: flex;
    padding: 5px;
    flex-direction: column;
}
